app:
  name: "ewm-main-service"
  creation-date: "2025-11-30 12:00:00"

server:
  port: 8080

stats-server:
  url: "http://stats-server:9090"

spring:
  main:
    banner-mode: off

  sql:
    init.mode: always

    jpa:
      ddl-auto: validate
      show-sql: true
      database-platform: "org.hibernate.dialect.PostgreSQLDialect"
      properties:
        hibernate:
          dialect: "org.hibernate.dialect.PostgreSQLDialect"
#          jdbc.time_zone: UTC
          format_sql: true

  datasource:
    driver-class-name: "org.postgresql.Driver"
    url: "jdbc:postgresql://localhost:5432/ewm"
    username: "ewm_user"
    password: "12345"

logging:
  level:
    root: INFO

    org.hibernate:
      SQL: DEBUG
      orm.jdbc.bind: trace

    org.springframework:
        web: DEBUG
        web.servlet.DispatcherServlet: DEBUG